In [1]:
import pandas as pd

In [12]:
rating_file: str = '../../data/ml-latest-small/ratings.csv'
ratings = pd.read_csv(rating_file)
movie_file: str = '../../data/ml-latest-small/movies.csv'
movies = pd.read_csv(movie_file)

In [13]:
data = pd.merge(ratings, movies)

In [27]:
data[:5]

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama

In [15]:
ratings_by_title = data.groupby('title').size()

In [16]:
# ratings
ratings_by_title[:10]

title
"Great Performances" Cats (1998)            2
$9.99 (2008)                                3
'Hellboy': The Seeds of Creation (2004)     1
'Neath the Arizona Skies (1934)             1
'Round Midnight (1986)                      2
'Salem's Lot (2004)                         1
'Til There Was You (1997)                   4
'burbs, The (1989)                         19
'night Mother (1986)                        3
(500) Days of Summer (2009)                45
dtype: int64

In [17]:
active_titles = ratings_by_title.index[ratings_by_title > 5]

In [20]:
mean_ratings = ratings_by_title.loc[active_titles]

In [25]:
top_female_ratings = mean_ratings.sort_values(ascending=False)

In [26]:
top_female_ratings[0:10]

title
Forrest Gump (1994)                          341
Pulp Fiction (1994)                          324
Shawshank Redemption, The (1994)             311
Silence of the Lambs, The (1991)             304
Star Wars: Episode IV - A New Hope (1977)    291
Jurassic Park (1993)                         274
Matrix, The (1999)                           259
Toy Story (1995)                             247
Schindler's List (1993)                      244
Terminator 2: Judgment Day (1991)            237
dtype: int64